<%= form_with(model: [@stack, product]) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>
  <div class="form-group">
    <%= form.label :link, "Amazon link", class:"form-label" %>
    <%= form.text_field :link, class: "form-input", placeholder: "https://www.amazon.com/NUTRITION-Standard-Pre-Workout-Creatine-Beta-Alanine/dp/B00PYB2X8C/" %>

  </div>

  <%= form.submit "Add product", class: "btn btn-primary btn-lg" %>
<% end %>
